*{
    --jira: #344563;
}
.dashboard{
    padding: 20px 40px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.header span{
    font-size: 24px;
}
.right-btn{
    display: flex;
    align-items: center;
}
.cards{
    display: flex;
    flex-wrap: wrap;    
}
.right-column,.left-column{
    flex:1;
}
.right-column{
    padding-left: 5px;
}
.left-column{
    padding-right: 5px;;
}
.card{
    flex:1;
    border:1px solid #dcdee0;
    border-radius: 3px;
    margin-bottom: 9px;
    padding: 10px;
    border-top: 4px solid #4584FF;
}
.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header div > *:hover{
    background-color: #3445631e;
}
.card-content{
    margin: 5px 0px;
}
.card-footer{
    display: flex;
    align-items: center;
    color: gray;
}
.card-footer span{
    font-size: small;
}