*{
    box-sizing: border-box;
    --fontCol: '#344563';
    --hoverBgCol: '#ddedff';
    --fontFocusCol: '#2C53CC';
}
.toolbar{
    display: flex;
    align-items: center;
    height:56px;
    background-color: white;
    padding: 0px 12px;
    box-shadow: 0px -1px 5px 1px rgb(189, 188, 188);
}
.nav-logo{    
    margin-left: 3px;
    margin-right: 20px;
    height: 32px;
}
.nav-logo:hover{
    background-color: var(--hoverBgCol);
}
.right-nav{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.search-container{
    display: flex;
    align-items: center;
    height: 32px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 1px 1.5px lightgray;
}
.search-container:focus-within{
    position: absolute;
    right:180px;
    width:800px;
}
.nav-input{
    border: none;
    outline: none;    
}